<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SoundFX</key>
	<array>
		<string>audio/levelwin.mp3</string>
		<string>audio/dragon.mp3</string>
		<string>audio/levelfailure.mp3</string>
		<string>audio/slingshotstretch.mp3</string>
		<string>audio/laugh03.mp3</string>
		<string>audio/bird.mp3</string>
		<string>audio/wood.mp3</string>
		<string>audio/laugh02.mp3</string>
		<string>audio/laugh01.mp3</string>
		<string>audio/enemyGrunt.mp3</string>
		<string>audio/bloop.mp3</string>
		<string>audio/gong.mp3</string>
		<string>audio/birds.mp3</string>
		<string>audio/frogs.mp3</string>
		<string>audio/whoosh.mp3</string>
		<string>audio/drums.mp3</string>
		<string>audio/pandlaugh.mp3</string>
		<string>audio/youlose.wav</string>
		<string>audio/youwin.wav</string>
		<string>audio/about.mp3</string>
		<string>audio/birdstart.mp3</string>
		<string>audio/impact.mp3</string>
		<string>audio/start_game.mp3</string>
		<string>audio/break.mp3</string>
		<string>audio/break1.mp3</string>
		<string>audio/break2.mp3</string>
		<string>audio/break3.mp3</string>
	</array>
	<key>Images</key>
	<array>
		<string>arts/about_interfaces/bg_about.png</string>
		<string>arts/about_interfaces/email.png</string>
		<string>arts/about_interfaces/weibo.png</string>
		<string>arts/about_interfaces/button_share.png</string>
		<string>arts/about_interfaces/sinablog.png</string>
		<string>arts/level_choise/0Star-Normal.png</string>
		<string>arts/level_choise/1Star-Normal.png</string>
		<string>arts/level_choise/2Star-Normal.png</string>
		<string>arts/level_choise/3Star-Normal.png</string>
		<string>arts/level_choise/level_bg.png</string>
		<string>arts/level_choise/level_lock.png</string>
		<string>arts/level_choise/menu_background.png</string>
		<string>arts/resource_load/background_clouds.png</string>
		<string>arts/resource_load/loading_bg.png</string>
		<string>arts/resource_load/progressbar.png</string>
		<string>arts/game_main_scenes/10000points.png</string>
		<string>arts/game_main_scenes/1000points.png</string>
		<string>arts/game_main_scenes/100points.png</string>
		<string>arts/game_main_scenes/5000points.png</string>
		<string>arts/game_main_scenes/500points.png</string>
		<string>arts/game_main_scenes/background_clouds.png</string>
		<string>arts/game_main_scenes/background_hills.png</string>
		<string>arts/game_main_scenes/blue_brick.png</string>
		<string>arts/game_main_scenes/box.png</string>
		<string>arts/game_main_scenes/button_pause.png</string>
		<string>arts/game_main_scenes/circle.png</string>
		<string>arts/game_main_scenes/dragon-damage1.png</string>
		<string>arts/game_main_scenes/dragon.png</string>
		<string>arts/game_main_scenes/dragon_break0001.png</string>
		<string>arts/game_main_scenes/dragon_break0002.png</string>
		<string>arts/game_main_scenes/dragon_break0003.png</string>
		<string>arts/game_main_scenes/dragon_break0004.png</string>
		<string>arts/game_main_scenes/dragon_break0005.png</string>
		<string>arts/game_main_scenes/dragon_break0006.png</string>
		<string>arts/game_main_scenes/dragon_break0007.png</string>
		<string>arts/game_main_scenes/dragon_break0008.png</string>
		<string>arts/game_main_scenes/dragon_break0009.png</string>
		<string>arts/game_main_scenes/dragon_break0010.png</string>
		<string>arts/game_main_scenes/dragon_damage1.png</string>
		<string>arts/game_main_scenes/dragon_damage2.png</string>
		<string>arts/game_main_scenes/dragon_damage3.png</string>
		<string>arts/game_main_scenes/explosion_0001.png</string>
		<string>arts/game_main_scenes/explosion_0002.png</string>
		<string>arts/game_main_scenes/explosion_0003.png</string>
		<string>arts/game_main_scenes/explosion_0004.png</string>
		<string>arts/game_main_scenes/explosion_0005.png</string>
		<string>arts/game_main_scenes/explosion_0006.png</string>
		<string>arts/game_main_scenes/explosion_0007.png</string>
		<string>arts/game_main_scenes/explosion_0008.png</string>
		<string>arts/game_main_scenes/explosion_0009.png</string>
		<string>arts/game_main_scenes/explosion_0010.png</string>
		<string>arts/game_main_scenes/explosion_0011.png</string>
		<string>arts/game_main_scenes/fire.png</string>
		<string>arts/game_main_scenes/glass_long.png</string>
		<string>arts/game_main_scenes/ground_plane.png</string>
		<string>arts/game_main_scenes/pandaBlue_standing.png</string>
		<string>arts/game_main_scenes/pandaGreen_standing.png</string>
		<string>arts/game_main_scenes/pandaYellow_standing.png</string>
		<string>arts/game_main_scenes/panda_air.png</string>
		<string>arts/game_main_scenes/panda_standing.png</string>
		<string>arts/game_main_scenes/platform.png</string>
		<string>arts/game_main_scenes/play_button.png</string>
		<string>arts/game_main_scenes/puffs_0001.png</string>
		<string>arts/game_main_scenes/puffs_0002.png</string>
		<string>arts/game_main_scenes/puffs_0003.png</string>
		<string>arts/game_main_scenes/puffs_0004.png</string>
		<string>arts/game_main_scenes/puffs_0005.png</string>
		<string>arts/game_main_scenes/puffs_0006.png</string>
		<string>arts/game_main_scenes/puffs_0007.png</string>
		<string>arts/game_main_scenes/slingshot_front.png</string>
		<string>arts/game_main_scenes/stonePillar.png</string>
		<string>arts/game_main_scenes/stone_largesquare.png</string>
		<string>arts/game_main_scenes/strap.png</string>
		<string>arts/game_main_scenes/strapBack.png</string>
		<string>arts/game_main_scenes/strapEmpty.png</string>
		<string>arts/game_main_scenes/woodShape1.png</string>
		<string>arts/game_main_scenes/woodShape1_0001.png</string>
		<string>arts/game_main_scenes/woodShape1_0002.png</string>
		<string>arts/game_main_scenes/woodShape1_0003.png</string>
		<string>arts/game_main_scenes/woodShape1_0004.png</string>
		<string>arts/game_main_scenes/woodShape1_0005.png</string>
		<string>arts/game_main_scenes/woodShape1_0006.png</string>
		<string>arts/game_main_scenes/woodShape1_0007.png</string>
		<string>arts/game_main_scenes/woodShape1_0008.png</string>
		<string>arts/game_main_scenes/woodShape1_0009.png</string>
		<string>arts/game_main_scenes/woodShape1_0010.png</string>
		<string>arts/game_main_scenes/woodShape2.png</string>
		<string>arts/game_main_scenes/woodShape3.png</string>
		<string>arts/game_main_scenes/woodShape4.png</string>
		<string>arts/game_main_scenes/wood_long.png</string>
		<string>arts/level_result_interfaces/bg_levelresult.png</string>
		<string>arts/scene_choice/mini1_bg.png</string>
		<string>arts/scene_choice/mini2_bg.png</string>
		<string>arts/scene_choice/mini3_bg.png</string>
		<string>arts/scene_choice/mini4_bg.png</string>
		<string>arts/scene_choice/mini5_bg.png</string>
		<string>arts/generally_buttons/back.png</string>
		<string>arts/generally_buttons/button_menu.png</string>
		<string>arts/generally_buttons/button_nextlevel.png</string>
		<string>arts/generally_buttons/button_panda.png</string>
		<string>arts/generally_buttons/button_play.png</string>
		<string>arts/generally_buttons/button_replay.png</string>
		<string>arts/generally_buttons/levelbox1.png</string>
		<string>arts/generally_buttons/levelbox2.png</string>
		<string>arts/generally_buttons/levelend1.png</string>
		<string>arts/generally_buttons/levelend2.png</string>
		<string>arts/pause_interfaces/bg_pause.png</string>
		<string>arts/start_interfaces/about.png</string>
		<string>arts/start_interfaces/bg_startgame.png</string>
		<string>arts/start_interfaces/button_begin.png</string>
		<string>arts/start_interfaces/music_off.png</string>
		<string>arts/start_interfaces/music_on.png</string>
		<string>arts/start_interfaces/sound_off.png</string>
		<string>arts/start_interfaces/sound_on.png</string>
	</array>
	<key>SpriteSheets</key>
	<array/>
	<key>Assets</key>
	<array/>
	<key>Music</key>
	<array>
		<string>background_music/bg_startgamescene.mp3</string>
		<string>audio/gamewin.mp3</string>
		<string>audio/fail.mp3</string>
	</array>
</dict>
</plist>
